<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<link rel="stylesheet" href="/styles/main.css"/>
<title>Login Error</title>
</head>
<body>
<div class="corpo">
		<ul class="menu">
			<li class="primo"><a href="index.html">Home</a></li>
			<li><a href="RegistrazioneUtente.html">Registrazione</a></li>
			<li class="ultimo"><a href="Contatti.html">Contatti</a></li>
		</ul>
	</div>
<h1><br/>Gallery</h1>
	<form action="#" th:action="@{/utenteLogin}" th:object="${utente}" method="post">
		<div>
			<div>
				<span th:text="#{label.username}">Username: </span>
				<span><input type="text" th:field="*{username}" /></span>
				<span th:if="${#fields.hasErrors('username')}" th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.password}">Password: </span>
				<span><input type="password" th:field="*{password}" /></span>
				<span th:if="${#fields.hasErrors('password')}" th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span><button type="submit">Submit</button></span>
			</div>
		</div>
	</form>
</body>
</html>