<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Login effettuato</title>
<link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
	<div class="corpo">
		<ul class="menu">
			<li class="primo"><a href="index.html">Home</a></li>
			<li class="ultimo">Contatti</li>
		</ul>
	</div>
	<h1>
		<br></br>Bentornato <span th:text="	${nomeUtente}"></span>
	</h1>
	<h2>Le opere nel museo sono:</h2>
	<div align="center">

		<table class="center">
			<tr>
				<th>Nome</th>
				<th>Tecnica</th>
				<th>Autore</th>
				<th>Restauro</th>
			</tr>
			<tr class="yellow" th:each="opera : ${opere}">
				<td th:text="${opera.titolo}"></td>
				<td th:text="${opera.tecnica}"></td>
				<td>
					<ul class="the_dropdown">
						<li><span th:text="${opera.autore.cognome}"></span>
							<ul>
								<li><a th:text="${opera.autore.cognome}"></a></li>
								<li><a th:text="${opera.autore.nazionalita}"></a></li>
								<li><a th:text="${opera.autore.dataNascita}"></a></li>
								<li><a th:text="${opera.autore.dataMorte}"></a></li>
							</ul>
						</li>
					</ul>
				</td>
				<td th:text="${opera.restauro}"></td>
			</tr>
		</table>
	</div>

</body>
</html>