<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/styles/main.css"/>
<title>Login Utente</title>
</head>
<body>
	<h1>Gallery</h1>
	<form name="f" th:action="@{/utenteLogin}" method="post">
		<div>
			<div>
				<span>Username: <input type="text" id="username" name="username" /></span>
			</div>
			<div>
				 <span>Password: <input type="password" id="password" name="password" /></span>
			</div>
			<span><button type="submit">Submit</button></span>
		</div>
		
	</form>
</body>
</html>