<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Registrazione Utente</title>
</head>
<body>
	<form action="#" th:action="@{/utenteReg}" th:object="${utente}"
		method="post">
		<div>
			<div>
				<span>UserName:<input type="text" id="username"	name="username" /></span>
			</div>
			<div>
				<span>Password:<input type="password" id="password"	name="password" /></span>
			</div>
			<div>
				<span><button type="submit">Submit</button></span>
			</div>
		</div>
	</form>
</body>
</html>